@import "../../styles";

/* stylelint-disable selector-pseudo-element-no-unknown */

.paginator {
  top: 0;
}

.paginator,
.filters {
  display: flex !important;
  justify-content: center;
}

::ng-deep.mat-paginator-container {
  justify-content: center !important;
}

.mat-paginator {
  width: 100vw;
}

.mat-table {
  hyphens: auto;
}

.deleted {
  background-color: $green !important;
}

.mat-cell {
  &:first-of-type {
    padding: 10px !important;
  }

  &:last-of-type {
    padding-right: 0 !important;
  }
}

mat-row {
  min-height: 0 !important;
}

.example-detail-row td.mat-cell {
  border-bottom-style: unset !important;
}

.example-element-detail {
  overflow: hidden;
}

.example-element-diagram {
  min-width: 80px;
  height: 104px;
  margin: 8px 0;
  padding: 8px;
  font-weight: lighter;
  border: 2px solid black;
}

.example-element-row {
  border-bottom-width: 0;
}

@include media('800px') {
  .filters {
    flex-direction: column;

    & ::ng-deep.mat-form-field-flex {
      flex-direction: row;
    }
  }
}
