.paginator {
  top: 0;
}

.paginator,
.filters {
  display: flex !important;
  justify-content: center;
}

::ng-deep.mat-paginator-container {
  justify-content: center !important;
}

.mat-paginator {
  width: 100vw;
}

.mat-table {
  hyphens: auto;
}

.deleted {
  background-color: #0ad06f !important;
}

.mat-cell {
  &:first-of-type {
    padding: 10px !important;
  }

  &:last-of-type {
    padding-right: 0 !important;
  }
}
